.container-fluid {
  margin-bottom: 100px;
}
.orange-bg {
  background-color: #fceae8;
  border-radius: 10px;
}
.carousel-item {
  padding: 20px 40px;
}

.price {
  color: rgb(255, 19, 111);
}
/* --------carousel item------- */

.carousel-item h1{
  font-size: 4vw;
  /* font-size: 5vh; */
  /* width: 100%; */
}
.buy-now-button {
  color: rgb(255, 255, 255);
  border-radius: 6px;
  border: none;
  width: 168px;
  height: 52px;
  padding: 14px 20px 14px 20px;
  font-family: "Inter";
  font-size: 1rem;
  line-height: 19px;
  text-align: left;
  background: linear-gradient(
    180deg,
    rgb(255, 88, 155) -0.006%,
    rgb(255, 19, 111) 99.994%
  );
}

/* -------categories------ */
.cat1,
.cat2,
.cat3 {
  border-radius: 10px;
  padding: 10px 30px;
}
.cat1 {
  background: linear-gradient(
    151.85deg,
    rgb(255, 156, 53) 14.537%,
    rgb(255, 208, 25) 84.486%
  );
}

.cat2 {
  background: linear-gradient(
    180deg,
    rgb(255, 88, 155) -0.006%,
    rgb(255, 19, 111) 99.994%
  );
}
.cat3 {
  background: linear-gradient(
    170.38deg,
    rgb(66, 137, 255) 15.416%,
    rgb(63, 7, 248) 74.29%
  );
}
.categories h1 {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
  font-size: 2.2rem;
}
.center {
  margin: 10px;
}

/* -----shoe--------- */
.common {
  position: relative;
}
.see-all {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 20px;
  font-weight: 500;
}

#subscribe {
  /* max-width: 1440px; */
  min-height: 500px;
  background-color: rgb(255, 242, 241);
  padding: 30px;
}
.input-info {
  width: 683px;
  height: 73px;
 
}
input[type="text"] {
  width: 120%;
  /* height: 70%; */
  border-radius: 10px;
  border: 1px solid;
}
input[type="button"]{
  width: 100%;
}
